main{
    position: relative;
    width: 90%;
    height: 800px;
    background-color: black;
    margin: auto;
}
section{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: transparent;
}
#logo{
    position: relative;
    width: 20%;
    height: 100px;
    background-color: transparent;
    float: left;
    display: flex;
    justify-content: end;
    align-items: center;
}
#texto{
    position: relative;
    width: 40%;
    height: 100px;
    background-color: transparent;
    float: left;
    display: flex;
    justify-content: center;
    align-items: end;
}
#menuButton{
    position: relative;
    width: 40%;
    height: 100px;
    background-color: transparent;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#fundo{
    position: relative;
    width: 100%;
    height: 50%;
    background-color: rgb(0, 52, 3);
    background-size: cover; 
    background-image: url(../img/Background_1.png);
    background-position: center;
    background-repeat: no-repeat;
 
}
.buttons{
    color: white;
    width: 100px;
    height: 50px;
    background-color: transparent;
    border-radius: 100px;
    border-style: none;
    transition: 0.6s ease;
    transition: transform 200ms ease-in-out;
}
.buttons:hover{
    background-color: aliceblue;
    color: black;
    transform: scale(1.1);
}
h1{
    width: 100%;
    height: 70%;
    color: aliceblue;
    font-family: tahoma;
    font-size: 20px;
    text-align: center;
    text-decoration: double;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: darkcyan;
    -webkit-text-stroke-width: 1px;
}
#containerLogo{
    width: 100px;
    height: 100px;
    background-image: url('../img/Logo-removebg-preview.png');
    background-size: 300%;
    background-position: center;
    background-repeat: no-repeat;
    border-style: none;
    border-radius: 100px;
}
#fundo2{
    position: relative;
    width: 100%;
    height: 40%;
    background-color: rgb(0, 52, 3);
    background-image: url(../img/Background_2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    display: flex;
    justify-content: center;
}
footer{
    position: relative;
    width: 100%;
    height: 10%;
    background-color: rgb(223, 127, 63);
    clear: left;
}
#containerPartes{
    position: relative;
    width: 70%;
    height: 100%;
    background-color: transparent;
    
}
.parte1{
    position: relative;
    width: 25%;
    height: 100%;
    background-color: transparent;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgContent{
    width: 45%;
    height: 30%;
    border-radius: 100px;
    border-style: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
p{
    text-align: center;
    width: 90%;
    height: 40%;
    color: black;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 20%;
    color: rgb(255, 255, 255);
    background-color: green;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 100px;
   border-style: none;
    transition: transform 200ms ease-in-out;
}
.botoes:hover{
    transform: scale(1.1);
}
#cofre{
    background-image: url(../img/Cofrinho.png);
}
#pata{
    background-image: url(../img/Pata.png);
}
#cachorro{
    background-image: url(../img/Cachorrinho.png);
}
#remedio{
    background-image: url(../img/Remedio.png);
}
#laranja{
    background-color: orange;
}